h1 {
  color: aquamarine; }

/*MAP*/
.botUno {
  color: bisque; }

.botDos {
  color: green; }

.botTres {
  color: yellow; }

/* MAP - GET*/
.guadaGraf {
  background-color: aquamarine;
  font-size: 25px; }

/*Extend*/
.estiloPrimario, .estiloSecundario {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;
  text-align: center; }

.estiloSecundario {
  font-weight: bold; }

.titulosEsiloPrimario {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 2rem;
  text-align: justify; }

/*HEADER*/
.tamLogo {
  width: 50%; }

.anclaColorFondo {
  background-color: black; }

.navbar {
  background-color: black; }

h5:hover {
  color: #eaee2b; }

.imagenHoteleria:hover {
  height: 110%;
  width: 110%; }

.imagenPlomer:hover {
  height: 110%;
  width: 110%; }

.imagenGastro:hover {
  height: 110%;
  width: 110%; }

.imagenEventos:hover {
  height: 110%;
  width: 110%; }

h3 {
  font-size: 130%; }

/*CARROUSEL*/
.letraCarrousel {
  color: black;
  background-color: #eaee2b;
  text-align: center;
  border-color: blanchedalmond;
  border-width: 10%; }
