/*HEADER*/
.tamLogo {
  width: auto; }

.anclaColorFondo {
  background-color: black; }

.navbar {
  background-color: black; }

h5:hover {
  color: #eaee2b; }

.imagenHoteleria:hover {
  height: 110%;
  width: 110%; }

.imagenPlomer:hover {
  height: 110%;
  width: 110%; }

.imagenGastro:hover {
  height: 110%;
  width: 110%; }

.imagenEventos:hover {
  height: 110%;
  width: 110%; }

h3 {
  font-size: 130%; }

.nav {
  background-color: black; }

.navBar {
  background-color: black; }

.container {
  background-color: black; }

.anclaColorFondo {
  background-color: black; }

header {
  background-color: black; }

body {
  background-color: black; }

#navbarNav {
  background-color: black; }

.barra {
  background-color: black; }

.navbar {
  margin-top: 50%;
  margin-left: 100%;
  background-color: black; }

/*MEDIA QUERY CELU*/
@media (max-width: 768px) {
  body {
    background-color: black; }
  h5 {
    color: #eaee2b; }
  h2 {
    color: #eaee2b; }
  .navbar {
    background-color: #eaee2b; } }

.btn {
  background-color: #eaee2b; }

/*MEDIA QUERY TABLET*/
h2 {
  text-align: center;
  margin: 2%;
  background-color: #eaee2b; }

.subtitulo {
  font-size: 20px; }

.botonSumate {
  background-color: black; }

.botonSum {
  background-color: black; }
