/*HEADER*/
.tamLogo {
    width: 50%;
    
}


.anclaColorFondo {
    background-color: $color-primario;
}

.navbar {
    background-color:$color-primario;
}

h5:hover {
    color: #eaee2b;
}

.imagenHoteleria:hover {
    height: 110%;
    width: 110%;
}

.imagenPlomer:hover {
    height: 110%;
    width: 110%;
}
.imagenGastro:hover {
    height: 110%;
    width: 110%;
}
.imagenEventos:hover {
    height: 110%;
    width: 110%;
}

h3 {

    font-size: 130%;
    
}
