.nav {
    background-color: black;
}

.navBar{
    background-color: black;
}

.container {
    background-color: black;
}

.anclaColorFondo {
    background-color: black;
}

header {
    background-color: black;
}

body {
    background-color: black;
}
#navbarNav {
    background-color: black;
}

.barra {
    background-color: black;
}

.navbar {
    margin-top: 50%;
    margin-left: 100%;
    background-color: black;
}

